/* AESTHET NOVA FONT */
@font-face {
	font-family: 'Aesthet-Nova';
	src: url('@/assets/fonts/aesthet-nova/light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Aesthet-Nova';
	src: url('@/assets/fonts/aesthet-nova/regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Aesthet-Nova';
	src: url('@/assets/fonts/aesthet-nova/medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Aesthet-Nova';
	src: url('@/assets/fonts/aesthet-nova/semibold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Aesthet-Nova';
	src: url('@/assets/fonts/aesthet-nova/bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}
/* BASIC SANS FONT */
@font-face {
	font-family: 'Basic-Sans';
	src: url('@/assets/fonts/basic-sans/thin.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Basic-Sans';
	src: url('@/assets/fonts/basic-sans/thin_italic.otf') format('opentype');
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: 'Basic-Sans';
	src: url('@/assets/fonts/basic-sans/light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Basic-Sans';
	src: url('@/assets/fonts/basic-sans/light_italic.otf') format('opentype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Basic-Sans';
	src: url('@/assets/fonts/basic-sans/regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Basic-Sans';
	src: url('@/assets/fonts/basic-sans/italic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Basic-Sans';
	src: url('@/assets/fonts/basic-sans/medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Basic-Sans';
	src: url('@/assets/fonts/basic-sans/medium_italic.otf') format('opentype');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Basic-Sans';
	src: url('@/assets/fonts/basic-sans/semibold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Basic-Sans';
	src: url('@/assets/fonts/basic-sans/semibold_italic.otf') format('opentype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Basic-Sans';
	src: url('@/assets/fonts/basic-sans/bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Basic-Sans';
	src: url('@/assets/fonts/basic-sans/bold_italic.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
}
